*.swp
*.swo
*.gem
*.rbc
*.tar.gz
.idea
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
gantree-*
lib/bundler/man
packaging/vendor
packaging/*.tar.gz
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
cfn/*
tmp.txt

spec/fixtures/project/*.zip
